#top {
    display: flex;
    flex-direction: column;
}

#middle{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    border-style: solid;
    border-color: #1e5a1a;
    justify-content: center;
    height: 50vh;
}



#bottom{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #1e5a1a;
}


/*ELEMENTI AREA TOP*/
#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#logo {
    margin-left: 1%;
    /* TODO */
}

#label{
    font-size: x-large;
}

#signin_btn{
    margin-right: 3%;
}

#log_buttons{
    display: flex;
    flex-direction: row;
}




/*ELEMENTI AREA MIDDLE*/
#midtop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#midbottom{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#col1{
    margin-left: 10%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#col2{
    display: flex;
    flex-direction: column;
}

#col2 > *{
    margin-top: 2%
}

.progress{
    width: 10vw;
    align-self: center; 
}

#ratings{
    display: flex;
    flex-direction: column;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rtg{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.pb{
    display: flex;
    align-self: center;
}

#description{
    display: flex;
    flex-direction: column;
}

#confirm{
    margin-right: 10%;
}


/*ELEMENTI AREA BOTTOM*/
#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}