<h1>RISULTATI RICERCA RISTORANTE </h1> <br>

Parametri ricercati: <%= params[:form_input].to_s %> 
<br><br>

<%if params[:form_input].to_s != "" %>
    <%if params[:sort] != nil%>
        <% @get_restaurant = Restaurant.where("name LIKE ? OR username LIKE ?","#{params[:form_input]}%", "#{params[:form_input]}%" ).order(params[:sort]) %>
    <%else%>
        <% @get_restaurant = Restaurant.where("name LIKE ? OR username LIKE ?","#{params[:form_input]}%", "#{params[:form_input]}%" ) %>
    <% end %>
    <%= render @get_restaurant%>
<%end%>

<br>

<%= render  "search/form" %>



