<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

 
    <%= stylesheet_link_tag "homepage.css" %>
</head>
<body>
    
    <div id = "middle">
        <div id = "col1">
            <div id = "carousel_homepage" class = "carousel slide" data-bs-ride="carousel">
                <div class = "carousel-inner">
                    <div class = "carousel-item active">
                        <img src="./images/pizza_sample.jpg" class = "d-block w-auto" alt="image of pizza">
                    </div>
                    <div class = "carousel-item">
                            <img src="./images/carbonara_sample.jpg" class = "d-block w-auto" alt="image of carbonara">
                    </div>
                    <div class = "carousel-item">
                        <img src="./images/grigliata_sample.jpg" class = "d-block w-auto" alt="image of grill">
                    </div>
                    <div class = "carousel-item">
                        <img src="./images/tiramisu_sample.jpg" class = "d-block w-auto" alt="image of tiramisu">
                    </div>
                </div>
            </div>
            <div id = "description">DESCRIZIONE APPLICAZIONE </div>
        </div>
        <div id = "col2">
            <div id = "researches">
                <div id = "restaurant_research" class="research">
                    <form action = "TODO with Ruby" >
                        <!--Inserire Ruby -->
                        <input type = "text" placeholder = "Inserire il ristorante">
                        <button type="submit"><img src = "./images/lente.png"></button>
                    </form>
                </div>
                <div id = "dish_research" class="research">
                    <form action = "TODO with Ruby!" >
                        <!--Inserire Ruby -->
                        <input type = "text" placeholder = "Inserire il piatto">
                        <button type="submit"><img src = "./images/lente.png"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

