<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <%= stylesheet_link_tag "homepage.css" %>
</head>
<body>
    <div id = "middle">
        <div id = "col1">
        <div id = "carousel_homepage">
            <% i = 0 + rand(7) %>
            <% img_path = "hp_" + i.to_s + ".jpg"%>
            <%=image_tag(img_path, :class => "img_carosello", :alt => "image of homepage")%>
        </div>
        <%#=Reviewer.find(11).destroy%>
        <%#=Restaurant.find(1).destroy%>
        <%#=session[:calling_path]%>
        
        <%#= TasteAdvisorMailer.with(user: current_reviewer, type: "Reviewer").welcome_email.deliver!%>
        
        <!-- 
        <%#= HO LAVORATO SU DEI FILE e dei permessi (per mostrare le img) , questi si chiamano asset e vanno inseriti in app/asset/image %>
            <div id = "carousel_homepage" class = "carousel slide" data-bs-ride="carousel">
                <div class = "carousel-inner">
                    
                    <div class = "carousel-item active">
                        <%#=image_tag("pizza-sample1.jpg", :class => "d-block w-auto", :alt => "image of pizza")%>
                    </div>
                    <div class = "carousel-item">
                        <%#=image_tag("pizza-sample2.jpg", :class => "d-block w-auto", :alt => "image of pizza")%>
                    </div>
                    
                </div>
            </div>
            -->
        </div>
        <div id = "col2">
            <%= render  "search/form" %>
            <div id = "description">Benvenuto su TasteAdvisor! Divertiti a scoprire nuovi piatti e nuovi ristoranti nel mondo. Cerca piatti per categoria, per nome oppure solo quelli del tuo ristorante preferito per rimanere sempre aggiornato! Potrai usufruire delle esperienze degli altri utenti per conoscere dettagli sui piatti offerti dai vari ristoranti nella tua zona o, se ti registri come recensore, essere tu di aiuto ad altre persone con le tue recensioni. Se sei un proprietario di un ristorante, infine, non aspettare a creare un profilo ristoratore per mostrare agli altri i tuoi fantastici piatti. </div>
        </div>
    </div>
</body>


</html>



