<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <%= stylesheet_link_tag "homepage.css" %>
</head>
<body>
    <div id = "middle">
        <div id = "col1">
        <%#= HO LAVORATO SU DEI FILE e dei permessi (per mostrare le img) , questi si chiamano asset e vanno inseriti in app/asset/image %>
            <div id = "carousel_homepage" class = "carousel slide" data-bs-ride="carousel">
                <div class = "carousel-inner">
                    
                    <div class = "carousel-item active">
                        <%=image_tag("pizza-sample1.jpg", :class => "d-block w-auto", :alt => "image of pizza")%>
                    </div>
                    <div class = "carousel-item">
                        <%=image_tag("pizza-sample2.jpg", :class => "d-block w-auto", :alt => "image of pizza")%>
                    </div>
                    
                </div>
            </div>
            <div id = "description">DESCRIZIONE APPLICAZIONE </div>
        </div>
        <div id = "col2">
            <%= render  "search/form" %>
        </div>
    </div>
</body>
</html>

