<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Benvenuto su TasteAdvisor, <%#= @user.name %></h1>
    <p>Il tuo username è: <%= @user.username %>.<br></p>
  </body>
</html>
