#searchbars{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    border-style: solid;
    border-color: #1e5a1a;
    width: 100%;
}

#searchbars > *, #sorts > *{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.search_field{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.search_field > *{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

#sorts{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    margin-left: 1%;
    align-items: center;
    border-style: solid;
    border-color: #1e5a1a;
    width: 100%;
}

#sorts_label{
    color: black;
}

.text_btn{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}



/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    .search_label, #dish_btn, #restaurant_btn, #restaurant_search, #dish_search, #sorts_label, #sort_btn{
        font-size: small;
    }
}

/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    .search_label, #dish_btn, #restaurant_btn, #restaurant_search, #dish_search, #sorts_label, #sort_btn{
        font-size: medium;
    }
}
  
/* notebook */
@media(min-width: 993px){
    .search_label,#dish_btn, #restaurant_btn, #restaurant_search, #dish_search, #sorts_label, #sort_btn{
        font-size: medium;
    }
}
  
/* desktop */
@media(min-width: 1440px){
    .search_label, #dish_btn, #restaurant_btn, #restaurant_search, #dish_search, #sorts_label, #sort_btn{
        font-size: large;
    }
    
}