#log_buttons{
    display: flex;
    flex-direction: row;
    margin-right: 3%;
}

#profile_btn{
    margin-right: 5%;
}

.notice_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}

.alert_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
