#middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    border-style: solid;
    border-color: #1e5a1a;
    overflow: auto;
}

/*TODO: cosa è row1? */
#row1 {
    display: flex;
    flex-direction: row;
    /* SOLUZIONE PROVVISIORIA : utilizzando space-between, gli elementi vanno a disporsi agli "estremi"*/
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*ELEMENTI AREA MIDDLE*/
#foto{
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}

#photo_picker{
    margin-left: 15%;
}


#description{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-top: 5%;
}

#row_m1 {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*Per far rimanere la row all'interno dell'outer div: i margin causano problemi se non controllati*/
    width: calc(100% - 12%);
}

#row_m2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#editable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#user_desc_1{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#user_desc_2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_labels{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_fields{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_fields > *{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_labels > *{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#user_btns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ELEMENTI AREA BOTTOM */
#header_and_insertions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#inserted_dishes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow:auto;
}

.card{
    display: flex;
    flex-direction: column;
    width:25%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: solid;
    border-width: medium;   
    border-color: #1e5a1a;
}

#save_div{
    margin-right: 10%;
}

/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    #profile_pic{
        max-width: 100px;
        max-height: 100px;
    }
    
    #input_img, #description, #position, #website, #phone_number, .form_fields>*, #save_btn, #cancel_btn{
        font-size: small;
    }

    #username{
        font-size: medium;
    }
}
/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    #profile_pic{
        max-width: 150px;
        max-height: 150px;
    }

    #input_img, #description, #username, #position, #website, #phone_number, .form_fields>*, #save_btn, #cancel_btn{
        font-size: medium;
    }
}
  
/* notebook */
@media(min-width: 993px){
    #profile_pic{
        max-width: 200px;
        max-height: 200px;
    }

    #input_img, #description, #position, #website, #phone_number, .form_fields>*, #save_btn, #cancel_btn{
        font-size: medium;
    }
    
    #username{
        font-size: large;
    }
}
  
/* desktop */
@media(min-width: 1440px){
    #profile_pic{
        max-width: 300px;
        max-height: 300px;
    }

    #input_img, #description, #position, #website, #phone_number, .form_fields>*, #save_btn, #cancel_btn{
        font-size: large;
    }

    #username{
        font-size: x-large;
    }
}