.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navbar-dark{
      background-color: #1e5a1a;
  }
  
  .link_homepage {
      text-decoration: none;
      color: lightgray;
  }
  
  .link_homepage:hover{
      color: black;
  }
  
  .nav{
    display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .nav-pills{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .container{
      display: flex;
      justify-content: center;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: black;
    font-style: bold;
    background-color: #1e5a1a;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-link {
    color: #fff;
    background-color: #1e5a1a;
  }
  
  .nav-link:hover, .nav-link:focus {
      color: black;
    }
  
    .li_navbar{
      color: #ffffff;
    }

.btn-link{
  color: white;
  text-decoration: none;
}

.btn-link:hover{
  color: white;
  font-weight:425;
  text-shadow: black 2px 2px 2px;
}