#middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    height: auto;
    width: auto;
    overflow:auto;
    border-style: solid;
    border-color: #1e5a1a;
}

/* ELEMENTI AREA MIDDLE*/
#col1, #col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#foto_piatto{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#actions{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    justify-content: center;
}

#actions > *{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

#plate_desc{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid;
    border-color: #1e5a1a;
    width: 100%;
}

#det_col1, #det_col2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

#rating, #num_reviews, #category{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.progress{
    margin-bottom: 1%;
}

#reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid;
    border-color: #1e5a1a;
    width: 100%;
    overflow-y: auto;
}

#reviews > *{
    color: black;
    text-decoration: none;

}

#review_label{
    font-size: large;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

.review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: 1%;
    border: solid;
    border-width: thin;
    border-color: #1e5a1a;
    width: auto;
    overflow-y: auto;
}

.review_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;   
}

/* MOBILE */
@media screen and (max-width: 768px) {
    #middle{
        flex-direction: column;
    }

    .review > *, #plate_desc, #actions > *, .btn-custom{
        font-size: small;
    }

    #col1, #col2{
        width: 90%;
        margin-left:2%;
        margin-right:2%;
    }
}

/* TABLET */
@media screen and (min-width: 769px) {
    .review > *, #plate_desc, .btn-custom{
        font-size: medium;
    }

    #col1, #col2{
        width: 90%;
        margin-left:2%;
        margin-right:2%;
    }
}

/* NOTEBOOK */
@media screen and (min-width: 993px) {
    .review > *, #plate_desc, .btn-custom{
        font-size: large;
    }

    #col1, #col2{
        width: 100%;
    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    .review > *, #plate_desc, .btn-custom{
        font-size: large;
    }

    #col1, #col2{
        width: 100%;
    }
}



