
#middle{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 0;
    align-items: center;
    justify-items:center;
    border-style: solid;
    border-color: #1e5a1a;
}


/*ELEMENTI AREA MIDDLE*/
#col1{
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
}

#col1 > *{
    margin-top: 10%;
}

#col2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.progress{
    align-self: center; 
}

#ratings{
    display: flex;
    flex-direction: column;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rtg{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.pb{
    display: flex;
    align-self: center;
}

#description{
    border-style: solid;
    border-color: #1e5a1a;
    border-width: thin;
    overflow-y: scroll;
}

.carousel-item{
    overflow: hidden;
    width: 100%;
}

.carousel-item img{
    width: 100%;
}

#report{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.link{
    color: royalblue;
    text-decoration: underline;
}

#foto_recensione{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 5%;
}

#foto_label{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

#no_foto_label{
    text-align: center;
}

.imgs_row{
    display: flex;
    flex-direction: row;
    align-content: left;
    width: 100%;
    justify-content: space-evenly;
}

.review_img{
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: transform .2s;
}

/*ELEMENTI ISOLATI SHOW*/
#review_btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

#destroy_btn{
    margin-left: 5%;
}

/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    #middle{
        flex-direction: column;
    }

    .link{
        font-size: small;
    }

    #mod_link, #dest_link, #report_link, #gusto_lbl, #impiattamento_lbl, #originalità_lbl, #plate_name, #restaurant_name, #gusto_value,
    #impiattamento_value, #originalità_value, #user_name, #description, #foto_label, #no_foto_label{
        font-size: small;
    }

    .review_img{
        /*
        margin-left: 0;
        margin-right: 0;
        width: 200px;
        height: 200px;
        */
        width: 75px;
        height: 75px;
    }  

    .review_img:hover{
        transform: scale(1.4);
    }
    
}

/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    #middle{
        flex-direction: column;
    }

    .link{
        font-size: medium;
    }
  
    #mod_link, #dest_link, #report_link, #description{
        font-size: medium;
    }

    #gusto_lbl, #impiattamento_lbl, #originalità_lbl, #plate_name, #restaurant_name, #gusto_value,
    #impiattamento_value, #originalità_value, #user_name, #foto_label, #no_foto_label{
        font-size: medium;
    }

    .review_img{
        /*
        margin-left: 0;
        margin-right: 0;
        width: 250px;
        height: 250px;
        */
        width: 100px;
        height: 100px;
    }

    .review_img:hover{
        transform: scale(1.4);
    }
  }

/* notebook */
@media(min-width: 993px){
    #middle{
        flex-direction: row;
    }

    .link{
        font-size: large;
    }

    #mod_link, #dest_link, #report_link, #description{
        font-size: large;
    }

    #gusto_lbl, #impiattamento_lbl, #originalità_lbl, #plate_name, #restaurant_name, #gusto_value,
    #impiattamento_value, #originalità_value, #user_name, #foto_label, #no_foto_label{
        font-size: large;
    }

    .review_img{
        /*
        margin-left: 0;
        margin-right: 0;
        width: 350px;
        height: 350px;
        */
        width: 100px;
        height: 100px;
    }

    .review_img:hover{
        transform: scale(1.4);
    }
}

/* desktop */
@media(min-width: 1440px){

    #middle{
        flex-direction: row;
    }

    .link{
        font-size: large;
    }

    #mod_link, #dest_link, #report_link, #description{
        font-size: large;
    }

    #gusto_lbl, #impiattamento_lbl, #originalità_lbl, #plate_name, #restaurant_name, #gusto_value,
    #impiattamento_value, #originalità_value, #user_name, #foto_label, #no_foto_label{
        font-size: x-large;
    }

    .review_img{
        /*
        margin-left: 0;
        margin-right: 0;
        width: 450px;
        height: 450px;
        */
        width: 175px;
        height: 175px;
    }

    .review_img:hover{
        transform: scale(1.3);
    }
}