#middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    border-style: solid;
    border-color: #1e5a1a;
}

/*ELEMENTI AREA MIDDLE*/
#foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}

#description{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: thin;
    border-color: #1e5a1a;
}

#user_desc_1{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#user_desc_1, #user_desc_2{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#modify{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#col_m1, #col_m2{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

#username{
    font-size: x-large;
    font-weight: bold;
}

/* ELEMENTI AREA DISHES_DIV */
#dishes_and_other_infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
    /* inserito bordo per allineare elementi interni al div in modo uniforme, rivedere */
}

#col_d1, #col_d2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#dishes_div, #map_addresses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    border-style: solid;
    border-color: #1e5a1a;
}

#dishes_div_restaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    border-style: solid;
    border-color: #1e5a1a;
}

#map_addresses > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 2%;
}

#header_and_insertions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
}

#insert_dishes{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

#header{
    font-size: x-large;
}

#inserted_dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x:scroll;
    width: auto;
}

.piattino{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: solid;
    border-width: thin;
    border-color: #1e5a1a;
}

.piattino-body{
    margin-left: 2%;
    margin-right: 2%;
}

#mod_dishes_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

#mod_dishes_btns > *{
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#bottom{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #1e5a1a;
}

#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}