#middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    width: auto;
}

.search_infos{
    color: black;
    font-size: large;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 2%;
}

#searches{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    border-color: #1e5a1a;
    border-style: solid;
    overflow-y: auto;
    width: 100%;
}

#search_opts{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 1%;
}

.dish_container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    border-style: solid;
    border-width: thin;
    border-color: #1e5a1a;
}

.dish_container > * {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.dish_name{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.dish_pic{
    border-radius: 5%;
}

.dish_name, .dish_rest, .dish_price, .dish_desc{
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
}

.btns{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.btns > *{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.btns_rev{
    display: flex;
    justify-content: center;
}

/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    #middle{
        flex-direction: column-reverse;
        justify-content: center;
    }
    #searches{
        margin-left: 0;
        margin-right: 0;
    }
    #search_opts{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2%;
    }

    .dish_container{
        flex-direction: column;
        align-items: center;
    }

    .dish_rest, .dish_price, .dish_desc, #review_btn, #show_btn{
        font-size: small;
    }
    .search_infos, .dish_name{
        font-size: medium;
    }
    .dish_pic{
        width: 95px;
        height: 95px;
    }
}

/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    #middle{
        flex-direction: column-reverse;
        justify-content: center;
    }
    #searches{
        margin-left: 0;
        margin-right: 0;
    }
    #search_opts{
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        margin-bottom: 2%;
    }

    .dish_container{
        flex-direction: column;
        align-items: center;
    }

    .search_infos, .dish_name, .dish_rest, .dish_price, .dish_desc, #review_btn, #show_btn{
        font-size: medium;
    }
    
    .dish_pic{
        width: 100px;
        height: 100px;
    }
}
  
/* notebook */
@media(min-width: 993px){
    .dish_rest, .dish_price, .dish_desc, #review_btn, #show_btn{
        font-size: medium;
    }

    #searches{
        width: 100%;
    }

    .dish_container{
        flex-direction: row;
    }

    #search_opts{
        width: 55%;
    }

    .search_infos, .dish_name{
        font-size: large;
    }

    .dish_pic{
        width: 200px;
        height: 200px;
    }
}
  
/* desktop */
@media(min-width: 1440px){
    .dish_container{
        flex-direction: row;
    }

    .dish_rest, .dish_price, .dish_desc, #review_btn, #show_btn{
        font-size: large;
    }
    .search_infos, .dish_name{
        font-size: x-large;
    }

    #searches{
        width: 100%;
    }

    #search_opts{
        width: 55%;    
    }

    .dish_pic{
        width: 250px;
        height: 250px;
    }
}