#middle{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    border-style: solid;
    border-color: #1e5a1a;
}


/*ELEMENTI AREA MIDDLE*/
#nome{
    display: flex;
    justify-content: center;
}

#motivazioni{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15%;
}

#descrizione{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
}

#descrizione > *{
    display: flex;
    justify-content: center;
}

.form-control{
    width: 40%;
}

#segnala_div{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}


/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    .form-check > *, #segnala_lbl, #report_description{
        font-size: small;
    }
    #motivazioni_lbl, #descrizione{
        font-size: medium;
    }
    #nome{
        font-size: large;
    }

  }
/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    .form-check > *, #segnala_lbl, #report_description{
        font-size: medium;
    }
    #motivazioni_lbl, #descrizione{
        font-size: large;
    }
    #nome{
        font-size: large;
    }

  }

/* notebook */
@media(min-width: 993px){
    .form-check > *, #segnala_lbl, #report_description{
        font-size: medium;
    }
    #motivazioni_lbl, #descrizione{
        font-size: large;
    }
    #nome{
        font-size: x-large;
    }

}

/* desktop */
@media(min-width: 1440px){
    .form-check > *, #segnala_lbl, #report_description{
        font-size: large;
    }
    #motivazioni_lbl, #descrizione{
        font-size: x-large;
    }
    #nome{
        font-size: xx-large;
    }

}