#middle{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    border-style: solid;
    border-color: #1e5a1a;
}

/*ELEMENTI AREA MIDDLE*/
#signin_type{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#google_div{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

#google_div > *{
    width: 50%;
}

#google_btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

#oppure_lbl{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#form_div{
    display: flex;
    justify-content: center;
}

#form_div > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group > *{
    margin-top: 2%;
}

.actions{
    display: flex;
    justify-content: center;
}

#submit_btn{
    align-self: center;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#pdim{
    display: flex;
    justify-content: center;    
    margin-top: 3%;
    margin-bottom: 3%;
    color: royalblue;
    text-decoration: underline;
}

#link_lbl{
    color: royalblue;
    text-decoration: underline;
}

/*Media queries*/
/*mobile*/ 
@media (max-width: 768px) {
    #oppure_lbl, #google_btn, #email_lbl, #password_lbl, #remember_lbl,
    #submit_btn, #forgot_lbl, #signin_type{
        font-size: small;
    }

    #signin_type{
        font-size: medium;
    }

    #reviewer_remember_me, #restaurant_remember_me{
        transform: scale(1.0);
    }

    #pdim{
        font-size: small;
    }


  }
/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    T#oppure_lbl, #google_btn, #email_lbl, #password_lbl, #remember_lbl,
    #submit_btn, #forgot_lbl, #signin_type{
        font-size: medium;
    }

    #signin_type{
        font-size: large;
    }

    #reviewer_remember_me, #restaurant_remember_me{
        transform: scale(1.1);
    }


    #signin_type{
        font-size: large;
    }

    #pdim{
        font-size: medium;
    }


  }

/* notebook */
@media(min-width: 993px){
    #oppure_lbl, #google_btn, #email_lbl, #password_lbl, #remember_lbl,
    #submit_btn, #forgot_lbl{
        font-size: large;
    }

    #signin_type{
        font-size: x-large;
    }

    #reviewer_remember_me, #restaurant_remember_me{
        transform: scale(1.2);
    }

    #pdim{
        font-size: large;
    }

}

/* desktop */
@media(min-width: 1440px){
    #oppure_lbl, #google_btn, #email_lbl, #password_lbl, #remember_lbl,
    #submit_btn, #forgot_lbl, #signin_type{
        font-size: large;
    }

    #signin_type{
        font-size: xx-large;
    }

    #reviewer_remember_me, #restaurant_remember_me{
        transform: scale(1.3);
    }

    #pdim{
        font-size: large;
    }

}