<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto il cambio password del tuo account. Puoi cambiare la password dal link di sotto.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non sei stato tu, per favore ignora questa mail.</p>
<p>La password non verrà cambiata finché non cliccherai sul link di sopra e la modificherai.</p>
