<p style="color: green"><%= notice %></p>

<%= render @review %>

<%if reviewer_signed_in?%>
  <% if current_reviewer.id == @review.reviewer_id %>
    <div id = "review_btns">
      <div id = "edit_btn">
        <%= link_to "Edit this review", edit_review_path(@review), :class => "btn btn-primary btn-responsive" %>
      </div>
      <div id =  "destroy_btn">
        <%= button_to "Destroy this review", @review, method: :delete, :class => "btn btn-danger btn-responsive" %>
      </div>
    </div>
  <%end%>
<%end%>